{{!-- set a property, addNewQuestion to true or false. When true, the form will show. When false, the button will show --}}

{{#if addNewClient}}
<div class="main jumbotron">
  {{!-- <div class="col-md-8 main-left">

  </div> --}}
  <div class="main-right">
    <h3>Enter Details Below:</h3>
  <form{{action 'saveClient1' on="submit"}}>
    <div class="form-group">
        {{input value=firstName type="text" id="firstName" placeholder="First Name" class="text-box" required="true"}}
    </div>
    <div class="form-group">
        {{input value=lastName type="text" id="lastName" placeholder="Last Name" class="text-box" required="true"}}
    </div>
    <div class="form-group">
        {{input value=service type="text" id="service" placeholder="Service" class="text-box" required="true"}}
    </div>
    <div class="form-group">
        {{input value=prices type="number" id="prices" placeholder="Price" class="text-box" required="true"}}
    </div>
    <div class="form-group">
        {{input value=attendant type="text" id="attendant" placeholder="Attendant" class="text-box" required="true"}}
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  </div>
</div>
{{else}}
  <p>Thank you, {{firstName}} {{lastName}}, your service details have been SUCCESSFULLY submitted. :-)</p>
{{/if}}
