{{!-- set a property, addNewQuestion to true or false. When true, the form will show. When false, the button will show --}}

{{#if addNewClient}}
<h3>Enter Details Below:</h3>
<div>
  <form>
    <div class="form-group">
      {{!-- <label for="firstName">First Name</label> --}}
      {{!-- input helper for form inputs --}}
        {{input value=firstName id="firstName" placeholder="First Name"}}
    </div>
    <div class="form-group">
      {{!-- <label for="lastName">Last Name</label> --}}
        {{input value=lastName id="lastName"placeholder="Last Name"}}
    </div>
    <div class="form-group">
      {{!-- <label for="service">Service</label> --}}
        {{input value=service id="service"placeholder="Service"}}
    </div>
    <div class="form-group">
      {{!-- <label for="prices">Price</label> --}}
        {{input value=prices id="prices"placeholder="Price"}}
    </div>
    <div class="form-group">
      {{!-- <label for="attendant">Attendant</label> --}}
        {{input value=attendant id="attendant"placeholder="Attendant"}}
    </div>
    {{!-- submit button has the saveQuestion1 action attached to begin the process of saving the new question added by a user. --}}
    <button class="btn btn-primary" {{action 'saveClient1'}}>Submit</button>
  </form>
</div>
{{else}}
  <p>Your service details have been SUCCESSFULLY submitted :-)</p>
{{/if}}
